.button {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: all var(--animation-speed-fast) var(--cubic-bezier);
  cursor: pointer;
  border: 3px solid light-dark(var(--color-primary-200), var(--color-primary-100));
  border-radius: 0.25rem;
  background-color: light-dark(var(--color-primary-200), var(--color-primary-100));
  padding: 0.75rem 1.5rem;
  width: fit-content;
  color: var(--color-neutral-900);
  font-weight: 700;
  text-decoration: none;

  &:where(:hover, :focus-visible) {
    border-color: light-dark(var(--color-primary-300), var(--color-primary-300));
    background-color: light-dark(var(--color-primary-300), var(--color-primary-300));
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.25rem;
  }

  &.color-secondary {
    border-color: light-dark(var(--color-secondary-100), var(--color-secondary-100));
    background-color: light-dark(var(--color-secondary-100), var(--color-secondary-100));

    &:where(:hover, :focus-visible) {
      border-color: light-dark(var(--color-secondary-300), var(--color-secondary-300));
      background-color: light-dark(var(--color-secondary-300), var(--color-secondary-300));
    }
  }

  &.has-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    [data-icon] {
      width: 30px;
      height: auto;
    }
  }
}
