// | -------------------------------------------------------------
// | Container
// | -------------------------------------------------------------

@use 'breakpoint' as *;

.container {
  margin: 0 auto;
  padding: 0 calc(2rem / 2);
  max-width: 100%;

  @include breakpoint(m) {
    padding: 0 2rem;
  }

  @include breakpoint(xl) {
    padding: 0 calc(2rem / 2);
    max-width: 1200px;
  }

  &.stretch {
    max-width: 100%;
  }
}
