@mixin text-decoration($color: var(--text-decoration-color), $hoverColor: var(--text-decoration-hover-color)) {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-decoration-color: $color;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
  transition: text-decoration, text-underline-offset, text-decoration-color, text-decoration-thickness;
  transition-duration: var(--animation-speed-fast);
  transition-timing-function: var(--cubic-bezier);

  &:where(:hover, :focus-visible) {
    text-decoration-color: $hoverColor;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
  }
}

@mixin outline {
  outline: 2px dashed black;
  outline-color: black;
  outline-offset: 0;
  -webkit-box-shadow: 0 0 0 2px white;
  box-shadow: 0 0 0 2px white;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@mixin rotate-icon-on-hover {
  .icon svg {
    transition: rotate var(--animation-speed-fast) var(--cubic-bezier);
  }

  &:where(:hover, :focus-visible) {
    .icon svg {
      rotate: -90deg;
    }
  }
}
