---
import Navigation from '../components/Navigation.astro'
import { DarkMode, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/blog/">Blog</a>
    </li>
    <li class="menu-item">
      <a href="/portfolio/">Portfolio</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Features
        <Icon name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/mdx-page/">MDX Page</a>
        </li>
        <li class="submenu-item">
          <a href="/markdown-page/">Markdown Page</a>
        </li>
        <li class="submenu-item">
          <a href="/accessible-components">Accessible Components</a>
        </li>
        <li class="submenu-item">
          <a href="/color-contrast-checker">Color Contrast Checker</a>
        </li>
      </ul>
    </li>
    <li class="menu-item highlight">
      <a href="https://accessible-astro.incluud.dev/">Docs </a>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <a href="https://github.com/markteekman/accessible-astro-starter" title="Go to the GitHub page">
        <Icon name="lucide:github" />
      </a>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <DarkMode>
        <Icon name="lucide:moon" slot="light" />
        <Icon name="lucide:sun" slot="dark" />
      </DarkMode>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;

        path {
          fill: var(--link-color);
        }
      }

      &:hover {
        svg path {
          fill: var(--link-hover-color);
        }
      }
    }
  }
</style>
